.root{

	-fx-font-family: Trebuchet;
	-fx-font-size: 10pt;
	-fx-custom-color:#ececec;

}

.hbox-header{
	-fx-background-image: url(jobwayHeader.jpg) ;
	-fx-background-size: 667px 150px;
	-fx-background-repeat: no-repeat;
  
}
.region-header1{
	-fx-background-color :white;
	
	 
}

.region-header2{
	-fx-background-color : #55B6AB;
}
.button{
	 -fx-base:-fx-custom-color;
}

.combo-box{
	-fx-base:-fx-custom-color;
}

.choice-box{
	-fx-base:-fx-custom-color;
}

.table-view{
	-fx-base:-fx-custom-color;
}

.toggle-button{
	-fx-base:-fx-custom-color;
}

.spinner{
	-fx-base:-fx-custom-color;
}

.title
{

	-fx-font-size : 20px;
	-fx-text-fill :#6BBBE0;
	
}



.displaySeparators *.line{
	-fx-border-style: solid;
      -fx-border-width: 1px;
    -fx-border-color: black;
}


.interfaceTitle
{
	-fx-font-size : 25px;
	-fx-text-fill : lightblue;
}

.colorZoneBox
{
	
	-fx-background-color : lightblue;
}

.colorZoneBox .toggle-button:selected{
	-fx-base:#ade6bb;
}

.colorZoneBox .scroll-pane{
	-fx-base:lightblue;
}

.checkBoxListView
{

	  -fx-background-color: transparent;
}

.checkBoxListView .list-cell
{
	 -fx-background-color: lightblue;
	
}


#darkMode
{
	-fx-icon-code:bi-moon;

}

.button-edit{
	-fx-border-color: transparent;
	-fx-background-color:transparent;
}
	
.button-delete{
	-fx-border-color: transparent;
	-fx-background-color:transparent;

}

.button-edit:hover{
	-fx-background-color:derive(-fx-base,-20%);
}
	
.button-delete:hover{
	-fx-background-color:derive(-fx-base,-20%);

}

.button-edit .ikonli-font-icon{
	-fx-icon-size: 20;

}
	
.button-delete .ikonli-font-icon{
	-fx-icon-size: 20;


}
.button-menu:hover {
	
	-fx-border-width: 1px;
	-fx-min-width: 115px;
	-fx-font-size:12px;
}

.button-menu:hover .ikonli-font-icon{
	-fx-fill: transparent;
} 

#VBoxmenu{
	-fx-background-color : -fx-base;
}

.tableViewClass .table-column {
    -fx-alignment: CENTER;
}


.mainWindow
{
	/* -fx-background-color : #45A2AD;  */ 
}