<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- jdbc config  
		<property name="hibernate.connection.driver_class">
			com.mysql.cj.jdbc.Driver
		</property>
		
		<property name="connection.url">jdbc:mysql://localhost:3306/jobway</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
			-->	
		<!-- HikariCP config : https://github.com/brettwooldridge/HikariCP/wiki/MySQL-Configuration -->	
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="show_sql">true</property>
		<property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
		<property name="hibernate.hikari.minimumIdle">5</property>
		<property name="hibernate.hikari.maximumPoolSize">10</property>
		<property name="hibernate.hikari.idleTimeout">30000</property>
		<property name="hibernate.hikari.dataSourceClassName">com.mysql.cj.jdbc.MysqlDataSource</property>
		<!--Relocated in code  
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://localhost:3306/jobway</property>
		<property name="hibernate.hikari.dataSource.user">root</property>
		<property name="hibernate.hikari.dataSource.password">root</property>
		-->
		<property name="dataSource.cachePrepStmts">true</property>
		<property name="dataSource.prepStmtCacheSize">250</property>
		<property name="dataSource.prepStmtCacheSqlLimit">2048</property>
		<property name="dataSource.useServerPrepStmts">true</property>
		<property name="dataSource.useLocalSessionState">true</property>
		<property name="dataSource.rewriteBatchedStatements">true</property>
		<property name="dataSource.cacheResultSetMetadata">true</property>
		<property name="dataSource.cacheServerConfiguration">true</property>
		<property name="dataSource.elideSetAutoCommits">false</property>
		<property name="dataSource.maintainTimeStats">false</property>

<!--		<property name="hibernate.hbm2ddl.auto">update</property>-->
<!--		<property name="connection.url">jdbc:mariadb://localhost:3306/jobway</property>-->
<!--		<property name="connection.driver_class">org.mariadb.jdbc.Driver</property>-->
<!--		<property name="connection.username">root</property>-->
<!--		<property name="connection.password">Dddd1234</property>-->


		<!-- List of XML mapping files -->
		<mapping class="cripel.jobway.model.Acquisfinaction"/>
		<mapping class="cripel.jobway.model.Availability" />
		<mapping class="cripel.jobway.model.City" />
		<mapping class="cripel.jobway.model.Country" />
		<mapping class="cripel.jobway.model.CivilStatus" />
		<mapping class="cripel.jobway.model.CountryType" />
		<mapping class="cripel.jobway.model.Disability" />
		<mapping class="cripel.jobway.model.DriverLicense" />
		<mapping class="cripel.jobway.model.Employee" />
		<mapping class="cripel.jobway.model.Event" />
		<mapping class="cripel.jobway.model.EventType" />
		<mapping class="cripel.jobway.model.FamilyReunion" />
		<mapping class="cripel.jobway.model.File" />
		<mapping class="cripel.jobway.model.Formation" />
		<mapping class="cripel.jobway.model.FormationType" />
		<mapping class="cripel.jobway.model.FrenchTest" />
		<mapping class="cripel.jobway.model.Household" />
		<mapping class="cripel.jobway.model.IncomeType" />
		<mapping class="cripel.jobway.model.Language" />
		<mapping class="cripel.jobway.model.LocomotionMean" />
		<mapping class="cripel.jobway.model.Logs" />
		<mapping class="cripel.jobway.model.Other" />
		<mapping class="cripel.jobway.model.Person" />
		<mapping class="cripel.jobway.model.PerDrL" />
		<mapping class="cripel.jobway.model.PerDrLId" />
		<mapping class="cripel.jobway.model.PerLan" />
		<mapping class="cripel.jobway.model.PerLanId" />
		<mapping class="cripel.jobway.model.PerSkill" />
		<mapping class="cripel.jobway.model.PerSkillId" />
		<mapping class="cripel.jobway.model.Postalcode" />
		<mapping class="cripel.jobway.model.ResidencePermit" />
		<mapping class="cripel.jobway.model.ResidencePermitType" />
		<mapping class="cripel.jobway.model.SituationTerritory" />
		<mapping class="cripel.jobway.model.SituationPro" />
		<mapping class="cripel.jobway.model.Skill" />
		<mapping class="cripel.jobway.model.SkilSect" />
		<mapping class="cripel.jobway.model.SkilSectId" />
		<mapping class="cripel.jobway.model.Theme" />
		<mapping class="cripel.jobway.model.TypeSortie" />
		<mapping class="cripel.jobway.model.User" />
		<mapping class="cripel.jobway.model.UserLevel" />
		<mapping class="cripel.jobway.model.WorkExperience" />
		<mapping class="cripel.jobway.model.WorkExpType" />
		<mapping class="cripel.jobway.model.WorkSearch" />
		<mapping class="cripel.jobway.model.WorkSector" />
		<mapping class="cripel.jobway.model.WorkTask" />

	</session-factory>
</hibernate-configuration>